#root {

  margin: 0 auto;
  text-align: center;
}

.relogio{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;

}
.about{
  position: relative;
  z-index: 1;
}
.conteudo{

  padding: 0px;
}

.botaoTheme:hover{
  border: 1.2px solid rgb(255, 255, 255) !important
}

